<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Grace's List of Worldwide Public Holidays</title>
</head>
<body>
    <h1>Upcoming Worldwide Public Holidays</h1>

    <div id="demoApp">
        <div>
            <label>Country <input v-model="country" /></label>
          </div>
          <div>
            <label>Year <input v-model="year"></label>
            <button type="button" v-on:click="getHolidays">Submit</button>
          </div>
          <div v-for="holiday in holidays">
            <p>{{holiday.name}}</p>
          </div>

    </div>

    <script src="script.js"></script>
</body>
</html>