<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <title>Quarantine Brain</title>
</head>
<body>

    <h1>hello,</h1>
    <p class="intro">Quarantine brain is real, here are a few things to help.</p>
    <div class="date">
    <p class="eyebrow-header">Today is:</p>
    <p><span id="datetime"></span></p>
    </div>

    <div id="inspQuote" v-cloak>
        <p class="eyebrow-header">Quote of the day:</p>
        <quote-card
            v-for="quote in quotes"
            v-bind:body="quote.body"
            v-bind:author="quote.author">
        </quote-card>
    </div>

    <div id="demoApp" v-cloak>
        <p class="eyebrow-header">Random Activity Generator</p>
        <p class="detail">Remember to practice <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/social-distancing.html" target="_blank">social distancing</a> while doing these activities.</p>
            <form v-on:submit.prevent="searchActivities">
                <div>
                    <label>How many people?</label>
                    <input v-model="searchQuery">
                    <button type="submit">GO!</button>
                </div>
            </form>
            <activity-card
                v-for="item in results"
                v-bind:activity="item.activity"
                class="card">
            </activity-card>
    </div>

    <script src="script.js"></script>

</body>
</html>