[v-cloak] {
    display:none;
}

body {
  margin: 0, auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top:50px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  line-height: 2rem;
  background-color: #ffffff;
}

#myBooks {
  border: 1px solid #BEBEBE;
  border-radius: 8px;
  padding:50px;
}

h1 {
  margin:0;
  padding-bottom:52px;
  color: tomato;
  font-family: 'Aleo', serif;
  font-weight: 700;
  font-size:50px;
  line-height: 4rem;;
}

table { 
  border-collapse:collapse 
}

th {
    width:350px;
    text-align: left;
    padding-bottom:10px;
    border-bottom: 1px dashed #000000;
    text-transform: uppercase;
    color: mediumblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  
  td {
    line-height:40px;
    vertical-align: top;
    padding:16px 8px 16px 8px;
    border-bottom: 1px dashed #000000;
    font-family: 'Aleo', serif;
    font-weight: 300;
  }


.even {
    background: #f0f0f0;
  }

.odd {
  background:#ffffff;
}

img {
  display: block;
  width: 75px;
}


fieldset {
  border:none;
  padding:0;
}

input {
  height: 32px;
  font-family: 'Roboto', sans-serif;
  padding-left:5px;
  border: 1px solid #000000;
  border-radius:2px;
}

label {
  color: mediumblue;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  display:block;
}

legend {
  color: tomato;
  font-family: 'Aleo', serif;
  font-weight:700;
  font-size: 28px;
  padding-top:20px;
}

.secondary-button {
  height:32px;
  background-color: white;
  border: 1px solid tomato;
  border-radius:2px;
  color:tomato;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform:uppercase;
  padding: 0px 12px 0px 12px;
}

.secondary-button:hover {
  background-color:tomato;
  color:white;
  text-decoration:underline;
}

.primary-button {
  height:32px;
  background-color: mediumBlue;
  border:none;
  border-radius:2px;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform:uppercase;
  padding: 0px 12px 0px 12px;
  margin-top:40px;
}

.primary-button:hover {
  background-color: darkblue;
  text-decoration: underline;
}

.table-form td {
  border:none;
}