<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <link rel="stylesheet" href="activity-list.css">
    <title>Grace's Pokemon</title>
</head>
<body>
    <h1>Grace's Pokemon Directory</h1>
    <div id="demoApp">
        <form v-on:submit.prevent="searchCards">
            <div>
                <label>Label here</label>
                <input v-model="searchQuery">
            </div>
                <button type="submit">Submit</button>
            </div>
        </form>

        <h2>Results</h2>
        <poke-card v-for="cards in results" v-bind:cards="cards"></poke-card>
    </div>
    <script src="activity.js"></script>
</body>
</html>