[v-cloak] {
    display: none;
}

body {
    background-color: lightcyan;
}

form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

legend {
    font-size:18px;
    text-transform: uppercase;
    background-color: white;
    border:3px dotted #083899;
    text-align: center;
    padding:8px;
}

div {
    margin: 10px 0;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}

fieldset {
    background-color: #ffffff;
    padding:20px;
    border: 3px dotted #083899;
}

div.alpaca-status, div.alpaca-color, div.output {
    flex-direction: column;
}

div label {
    margin-right: 10px;
}

div input, div select {
    flex-grow: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}

li {
    margin: 5px 0;
}

p {
    line-height:1rem;
    margin: 5px;
}