<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Llama vs. Alpaca</title>
</head>
<body>
 
<div id="myComparison" v-cloak>

    <div>
    <h2 v-bind:style="{color:'brown'}">Llamas</h2>
    <a v-bind:style="linkStyle" v-bind:href="llamaLink" v-bind:title="llamaTitle">More Llama info</a>
        <ol>
            <li v-for="(item, index) in llamas" :key="item.message" v-bind:class="{chocolate: index%2==0}">
                {{ item.message }}
            </li>
        </ol>
    </div>

    <div>
    <h2 v-bind:style="{color:'brown'}">Alpacas</h2>
    <a v-bind:style="linkStyle" v-bind:href="alpacaLink" v-bind:title="alpacaTitle">More Alpaca info</a>
        <ol>
            <li v-for="(item, index) in alpacas" :key="item.message" v-bind:class="{chocolate: index%2==0}">
                {{ item.message }}
            </li>
        </ol>
    </div>

</div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>   
    <script src="compare.js"></script> 
</body>
</html>