[v-cloak] {
    display: none;
}

body {
    margin: 0, auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:50px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
    background-color: #ffffff;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    color: mediumBlue;
}

#myComparison {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.chocolate {
    color: chocolate;
}